/**
ROBOTO SIZES
Thin 100
Light 300
Light 300 Italic
Normal 400
Medium 500
Bold 700**/

/**STYLES**/
body {
    margin: 0;
}

.clearfix:before,
.clearfix:after {
	display: table;
	content: " ";
}

.clearfix:after{
    clear: both;
}


*, *:before, *:after {
	box-sizing: border-box;
}

/**HEADER**/

.top-container {
    background: orange;
    height: 640px;
}

.header-title {
    height: 100px;
    width: 157px;
    margin-top: 18px;
    margin-left: 34px;
    background: url("http://jeremyabrahams.github.io/mw-project-1/img/factory-logo.png") no-repeat;
    background-size: 157px 100px;
    text-indent: 150%;
    white-space: nowrap;
    overflow: hidden;
    float: left;
}

.header-nav {
    margin-top: 35px;
    float: right;
}

.header-nav-list {
    text-transform: uppercase;
    list-style: none;
    margin-right: 21px;
}

.header-nav-list li {
    margin-right: 14px;
    display: inline-block;
}

.header-nav-list a {
    font-family: roboto, tahoma, arial;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    line-height: 21px;
}

/**BANNER**/

.banner-title {
    color: #fff;
    font-family: roboto, tahoma, arial;
    font-weight: 100;
    font-size: 92px;
    line-height: 107px;
    text-align: center;
}

.code-icon, .banner-text {
    font-size: 24px;
    line-height: 28px;
    color: #fff;
    font-weight: 100;
}

.banner-text {
    font-family: roboto, tahoma, arial;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 22px;
}

.code-icon{
    margin-left: 50%;
}

/**INTRO**/

.intro {
    font-family: roboto, tahoma, arial;
    background-color: #fff;
    margin-top: 150px;
}

.intro-text {
    text-align: center;
    font-weight: 100;
    color: #C3BFBF;
    font-size: 32px;
    line-height: 56px;
    width: 844px;
    margin: 0 auto;
}

.intro-text::after {
    content: "";
    display: block;
    width: 556px;
    height: 30px;
    background-image: url('http://jeremyabrahams.github.io/mw-project-1/img/divider.png');
    background-repeat: no-repeat;
    margin-top: 77px;
    margin-bottom: 127px;
    margin-left: auto;
    margin-right: auto;
}

/**GOALS**/

.goals-header {
    color: #777;
    font-size: 28px;
    line-height: 33px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 69px;
}

.goals-list {
    color: #777;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    list-style: none;
    padding: 0;
    margin-left: 55px;
    margin-right: 55px;
}

.goals-list li {
    width: 28%;
    /* height: 150px; */
    margin-right: 26px;
    margin-left: 26px;
    margin-bottom: 101px;
    overflow: hidden;
    float: left;
}

.goals-list li:nth-child(3n+1){
    clear: left;
}

.goals-list-subheader {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
}

/**COLEARNERS**/

.colearners {
    font-family: roboto, tahoma, arial;
    background: #eee;
    margin-top: 54px;
}

.colearners-header {
    color: #444;
    font-size: 28px;
    line-height: 53px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    margin-top: 91px;
}

.colearners-list {
    margin-top: 65px;
    margin-left: 84px;
    margin-right: 84px;
}

.colearners-list li {
    float: left;
    /* height: 150px; */
    overflow: hidden;
}

.colearners-list > li {
    margin-right: 21px;
    margin-left: 21px;
    width: 20%;
    margin-bottom: 70px;
}
.colearners-list li img {
    border-radius: 100%;
    display: block;
    width: 100px;
    height: 100px;
    margin-right: auto;
    margin-left: auto;
}

.colearner-name {
    font-size: 22px;
    text-align: center;
    font-weight: 500;
    line-height: 25px;
}

.colearners-list > li:nth-child(4n+1) {
    clear:left;
}

.social-icons li {
    margin-right: 18px;
}

.social-icons li a {
    text-decoration: none;
}

.twitter {
    display: inline-block;
    width: 22px;
    height: 20px;
    background-image: url('http://jeremyabrahams.github.io/mw-project-1/img/slice.png');
    background-repeat: no-repeat;
    background-position: 0px 0px;
    text-indent: 150%;
    white-space: no-wrap;
    overflow: hidden;
}

.facebook {
    display: inline-block;
    width: 22px;
    height: 20px;
    background-image: url('http://jeremyabrahams.github.io/mw-project-1/img/slice.png');
    background-repeat: no-repeat;
    background-position: -35px 0px;
    text-indent: 150%;
    white-space: no-wrap;
    overflow: hidden;
}

.dribbble {
    display: inline-block;
    width: 22px;
    height: 20px;
    background-image: url('http://jeremyabrahams.github.io/mw-project-1/img/slice.png');
    background-repeat: no-repeat;
    background-position: -70px 0px;
    text-indent: 150%;
    white-space: no-wrap;
    overflow: hidden;
}

.linkedin {
    display: inline-block;
    width: 22px;
    height: 20px;
    background-image: url('http://jeremyabrahams.github.io/mw-project-1/img/slice.png');
    background-repeat: no-repeat;
    background-position: -105px 0px;
    text-indent: 150%;
    white-space: no-wrap;
    overflow: hidden;
}

/**INSTRUCTOR**/

.instructor {
    background: #757D75;
    color: #fff;
    font-family: roboto, tahoma, arial;
    height: 701px;
}

.instructor-header {
    text-transform: uppercase;
    font-size: 18px;
    line-height: 53px;
    font-weight: 300;
    margin-top: 208px;
    margin-left: 84px;
    margin-bottom: 15px;
}

.instructor-name {
    text-transform: uppercase;
    margin-top: 0px;
    margin-left: 84px;
    font-size: 36px;
    line-height: 42px;
    font-weight: 500;
}

.instructor-company {
    margin-bottom: 27px;
    margin-left: 84px;
    font-size: 22px;
    line-height: 25px;
    font-weight: 500;
}

.instructor-description {
    color: #fff;
    margin-top: 0px;
    margin-left: 84px;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    width: 500px;
}

/**BLOCK QUOTE**/

.blockquote {
    width: 903px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    font-family: roboto, tahoma, arial;
}

.quote {
    margin-top: 170px;
    color: #E66244;
    text-align: center;
    font-size: 48px;
    line-height: 64px;
    font-weight: 300;
    font-style: italic;
}

.quoted {
    margin-top: 74px;
    display: block;
    text-align: center;
    color: #AAA;
    font-size: 22px;
    line-height: 25px;
    font-weight: 500;
}

.quoted-details {
    display: block;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}

.quoted-details-link {
    display: block;
    color: #AAA;
    margin-bottom: 111px;
}

/**COURSE DETAILS**/

.footer-container {
    background: orange;
    height: 672px;
    font-family: roboto, tahoma, arial;
    position:relative;
}

.course-details {
    padding-top: 141px;
    color: #fff;
    margin-left: 92px;
    margin-bottom: 200px;
    font-size: 36px;
    line-height: 38px;
    font-weight: 300;
}

.course-details-header {
    display: none;
}

.course-details-date {
    display: block;
    margin-bottom: 0px;
}

.course-details-time {
    display: block;
}

.class-size {
    margin-top: 40px;
    margin-bottom: 40px;
}

dl {
    float: left;
    margin-top: 0px;
}

dt, dd {
    float: left;
}

dt {
    clear:both;
}

.signup-btn {
    font-size: 29.9px;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    height: 98px;
    width: 327px;
    float: right;
    padding-top: 30px;
    padding-left: 100px;
    margin-top: 120px;
    margin-right: 92px;
    border: 4px solid #fff;
}

.footer {
    height: 126px;
    width: 100%;
    background: rgba(255, 153, 0, .8);
    color: #fff;
    position: absolute;
    bottom: 0;
}

.footer-title {
    height: 64px;
    width: 100px;
    margin: 33px 32px 0px 32px;
    background: url("http://jeremyabrahams.github.io/mw-project-1/img/factory-logo.png") no-repeat;
    background-size: 100px 64px;
    text-indent: 150%;
    white-space: nowrap;
    overflow: hidden;
    float: left;
}

.footer-address {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    display: block;
    margin-top: 55px;
}

.footer-address-2 {
    display: block;
}
